<%= render 'shared/logout_button' %>
<h1>写真一覧</h1>
<div>
  <%= link_to "MyTweetAppと連携", @auth_req_url %>
</div>
<div>
  <%= link_to "画像をアップロード", new_posted_photo_path %>
</div>
<div>
  <%= render partial: "posted_photo", collection: @posted_photos%>
</div>